/* modal창 외부 */
.modal_outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* modal창 */
.modal_inside {
    position: absolute;

    width: 400px;
    height: 200px;
    padding: 15px 20px 15px 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    z-index: 999;
    display: flex;
    flex-direction: column;

    .modal_top {
        height: 30px;
        align-self: flex-end;

        .modal_close_button {
            border: none;
            color: rgba(0, 0, 0, 0.7);
            background-color: transparent;
            font-size: 25px;
        }

        .modal_close_button:hover {
            cursor: pointer;
        }
    }

    .modal_login_top {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal_top_title {
            font-weight: 600;
        }

        .modal_close_button {
            border: none;
            color: rgba(0, 0, 0, 0.7);
            background-color: transparent;
            font-size: 25px;
        }

        .modal_close_button:hover {
            cursor: pointer;
        }
    }

    .modal_bottom {
        align-self: flex-start;
        font-size: $font-sm;
        height: 170px;
        font-weight: 500;
        margin: 0px 15px 0px 15px;
    }

    .modal_post_bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 170px;
        font-weight: 500;
        margin: 0px 15px 0px 15px;

        .post_list {
            padding: 15px;
            border-radius: 10px;
            background-color: $color-yellow-400;
            text-decoration: none;
            color: $color-gray-800;
        }

        .post_list:hover {
            background-color: $color-yellow-600;
        }
    }

    .modal_login_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
        font-weight: 500;
        margin: 0px 15px 0px 15px;

        .naver_login {
            text-decoration: none;

            .naver_Login_wrapper {
                display: flex;
                align-items: center;
                color: $color-white;
                background-color: $color-naver-green;
                padding: 5px 15px 5px 15px;
                gap: 15px;
                border: 1px solid $color-white;
                border-radius: 5px;

                .naver_logo {
                    margin: 5px;
                }

                .naver_start {
                    font-size: $font-xs;
                }
            }

            .naver_Login_wrapper:hover {
                cursor: pointer;
            }
        }
    }

    .modal_buttons {
        display: flex;
        gap: 15px;
        justify-content: flex-end;
        margin: 0px 10px 0px 0px;

        .return_button {
            font-weight: 600;
            padding: 12px 15px 12px 15px;
            background-color: $color-blue;
            border-radius: 10px;
            color: $color-white;
            cursor: pointer;
        }

        .delete_button {
            font-weight: 600;
            padding: 12px 15px 12px 15px;
            background-color: $color-red-600;
            border-radius: 10px;
            color: $color-white;
            cursor: pointer;
        }
    }
}