.mypost_wrapper {
    padding: 70px 80px 70px 80px;
    width: 100%;
    height: 100%;

    .announcement {
        width: 800px;
        height: 60px;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: $font-lg;
        font-weight: 600;
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .post_wrapper {
        padding: 30px 50px 30px 50px;
        height: 100%;
        background-color: $color-card-pink;

        .owner_button {
            font-weight: 600;
            width: 100px;
            padding: 10px;
            background-color: $color-yellow-400;
            border-radius: 10px;
            color: $color-gray-800;
            cursor: pointer;
            text-align: center;
        }

        .owner_button:hover {
            background-color: $color-yellow-600;
        }

        .link {
            text-decoration: none;
            color:$color-gray-800;
        }
        
    } 

    .nopost {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .notfound_image {
            width: 550px;
            height: 550px;
        }

        .description {
            font-size: 30px;
            text-align: center;
        }


    }
    

}