.setting_wrapper {
    padding: 70px 80px 70px 80px;
    width: 100%;
    min-height: 70vh;

    .announcement {
        width: 800px;
        height: 60px;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: $font-lg;
        font-weight: 600;
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .content_wrapper {
        padding: 30px 50px 30px 50px;
        margin-left: 150px;
        background-color: $color-card-pink;
        height: 300px;


        .content {
            font-weight: 700;
            padding-bottom: 15px;
        }

        .secession_button {
            font-weight: 400;
            width: 100px;
            padding: 10px;
            background-color: $color-gray-600;
            border-radius: 10px;
            color: $color-gray-200;
            cursor: pointer;
            text-align: center;
        }
    }

}