@import "../abstracts/variables";

* {
    font-family: "Noto Sans KR", sans-serif !important;
}

html,
body,
#root,
#root>div {
    min-width: 1800px;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.main {
    min-height: 100%;
}

.react-datepicker{
    border-radius: 15px;
    border:2px solid $color-gray-400;
    .react-datepicker__header{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: none;
        background-color: $color-card-pink;
    }
    .react-datepicker__triangle{
        display: none;
    }
}